* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   font-family: 'Sen', sans-serif;
   height: 5000px;
}

/* ======== Common ========= */
.content {
   width: 1170px;
   max-width: calc(100vw - 48px);
   margin-left: auto;
   margin-right: auto;
}

.btn {
   height: 50px;
   background-color: black;
   border-radius: 26px;
   /* padding: 11px 41px; */
   font-weight: 600;
   font-size: 1.6rem;
   text-align: center;
   color: #FFFFFF;
}

.btn:hover {
   background-color: #FEA31B;
}

a {
   text-decoration: none;
}

/* ======== Header ========= */
.header {
   background: #f274745e;
   position: sticky;
   z-index: 1;
   top: 0px;
   padding-bottom: 20px;
}

.header .body {
   display: flex;
   padding-top: 20px;
   align-items: center;
   /* background: #f274745e; */
}

.nav {
   margin-left: auto;
   margin-right: 70px;
}

.nav ul {
   display: flex;
}

.nav li {
   position: relative;
   font-weight: 400px;
   font-size: 1.6rem;
   padding: 8px 21px;
}

.nav a {
   color: #5F5B53;
}

.nav a:hover {
   border-radius: 1px;
   font-weight: 600;
   color: #171100;
}

.header .action .btn {
   padding: 11px 41px;
}

/* hero */
.hero {
   background: #f274745e;
}

.hero .content {
   display: flex;
   padding-top: 65px;
   gap: 230px;
   padding-bottom: 65px;

}

.hero .right {
   margin-right: 230px;
   margin-top: 65px;
}

.hero .title {
   width: 470px;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 700;
   font-size: 5.8rem;
   line-height: 1.17;
   letter-spacing: -0.02em;
   color: #171100;
}

.hero .desc {
   margin-top: 22px;
   width: 470px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 1.67;
   color: #5F5B53;
}

.hero .row {
   display: flex;
   margin-top: 38px;
   align-items: center;
}

.hero .btn {
   padding: 17px 34px;
}

.hero .frame {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-left: 28px;
   background-color: #FFFFFF;
   position: relative;
}

.hero .frame .btn-img {
   position: absolute;
   top: 12px;
   left: 16px;
}

.hero .desc-row {
   margin-left: 14px;
   font-family: 'Poppins';
   font-weight: 600;
   font-size: 1.8rem;
   line-height: 1.67;
   color: #171100;
}

.hero .desc-final {
   margin-top: 48px;
}

.hero .row-final {
   /* position: absolute; */
   gap: 28px;
}

.hero .left {
   position: relative;
}

.hero .info-left {
   display: flex;
   position: absolute;
   background-color: #fff;
   width: 270px;
   height: 244px;
   box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3);
   border-radius: 12px;
   padding: 24px 24px 24px 58px;
   bottom: 48px;
   left: 300px;
   gap: 16px;
   width: 250px;
}

.info-left .column-1 {
   position: absolute;
   left: -8px;
}

.info-left .frame {
   width: 48px;
   height: 48px;
   background: #FFF9E8;
   margin-bottom: 22px;
   position: relative;
}

.info-left .frame .icon {
   position: absolute;
   top: 13px;
   left: 13px;
}

.info-left .column-2 {
   position: absolute;
   left: 95px;
   top: 18px;
}

.info-left .column-2 .num {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   color: #5F5B53;
}

.info-left .column-2 .sub-num {
   font-weight: 550;
   font-size: 1.8rem;
   line-height: 1.67;
   color: #171100;
   width: 123px;
   margin-bottom: 14px;
}

/* ======== Course ========= */
.course {
   background-color: #fff;
   padding: 200px 0;
}

.course-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.course-top .info .title {
   font-family: 'Sen';
   font-weight: 700;
   font-size: 3.8rem;
   line-height: 1.26;
   letter-spacing: -0.02em;
   color: #171100;
}

.course .info .desc {
   width: 458px;
   margin-top: 16px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.8rem;
   line-height: 1.67;
   color: #5F5B53;
}

.course-list {
   margin-top: 55px;
   display: flex;
   gap: 30px;
}

.course-item {
   flex: 1;
   background-color: #fff;
   border-radius: 12px;
   padding-bottom: 22px;
}

.course-item:hover {
   /* background: #FFFFFF; */
   box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.3);
}

.course .head {
   display: flex;
   margin-top: 16px;
   align-items: center;
}

.course .head .sub-title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 1.8;
   line-height: 1.67;
   color: #171100;
}

.course-item .info {
   margin-left: 22px;
}

.course-item .star {
   margin-left: 119px;
}

.course-item span {
   font-weight: 400;
   font-size: 1.6rem;
   color: #FEA31B;
   margin-left: 6px;
   /* border-radius: 12px; */

}

.course-item .thumb {
   width: 370px;
   height: 278px;
   object-fit: cover;
   border-radius: 12px 12px 0px 0px;
}

.course-item .info .desc {
   width: 326px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   color: #5F5B53;
}

.course-item .foot {
   display: flex;
   margin-top: 22px;
   gap: 141px;
}

.course-item .foot .price {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 1.8;
   line-height: 1.67;
   color: #171100;
}

.course-item .foot .btn {
   width: 118px;
   height: 50px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 1.4rem;
   text-align: center;
   color: #FFFFFF;
}

/* ======== Feedback ========= */
.feedback {
   background-color: #2E2100;
   padding-bottom: 96px;
}

.feedback .fb-item {
   display: flex;
   /* gap: 241px; */
}

.feedback .info-left {
   width: 160px;
   margin-top: 96px;

}

.feedback .info-left .avatar {
   width: 72px;
   height: 72px;
   border-radius: 50%;
}

.feedback .info-left .title {
   font-family: 'Sen';
   font-style: normal;
   font-weight: 700;
   font-size: 2.4rem;
   line-height: 1.42;
   color: #F7F7F7;
   margin-top: 18px;
   width: 130px;
}

.feedback .info-left .desc {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   color: #BFBCB3;
   margin-top: 4px;
   width: 160px;
}

.feedback .info-left .dots {
   display: flex;
   margin-top: 28px;
   gap: 6px;
}

.feedback .info-left .dot {
   width: 6px;
   height: 6px;
   background-color: #634700;
   border-radius: 50%;
}

.feedback .info-left .dot:nth-child(2) {
   background-color: #FFB900;
}

.feedback .info-right {
   margin-top: 96px;
   margin-left: 241px;
}

.feedback .info-right blockquote {
   font-family: 'Poppins';
   font-style: italic;
   font-weight: 400;
   font-size: 2.6rem;
   line-height: 1.54;
   color: #FFFFFF;
}

/* ======== Feature ========= */
.feature {
   margin-top: 200px;
   display: flex;
}

.fea-row-1 {
   display: flex;
}

.fea-row-1 .img-main {
   display: flex;
   gap: 30px;
}

.fea-row-1 .img-main .image {
   width: 270px;
   height: 404px;
   object-fit: cover;
   border-radius: 16px;
}

.fea-row-1 .image-lower {
   margin-top: 34px;
}

.fea-row-1 .info {
   margin-left: 130px;
}

.fea-row-1 .info .title {
   margin-top: 58px;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 700;
   font-size: 3.8rem;
   line-height: 1.26;
   letter-spacing: -0.02em;
   color: #171100;
}

.fea-row-1 .info .desc {
   margin-top: 16px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.75;
   color: #5F5B53;
}

.fea-row-1 .btn {
   margin-top: 32px;
   padding: 11px 37px;
}


.fea-row-2 {
   display: flex;
   margin-top: 200px;
   gap: 130px;
}

.fea-row-2 .info {
   width: 570px;
}

.fea-row-2 .title {
   margin-top: 71px;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 700;
   font-size: 3.8rem;
   line-height: 1.26;
   letter-spacing: -0.02em;
   color: #171100;
}

.fea-row-2 .desc {
   margin-top: 16px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.75;
   color: #5F5B53;
}

.fea-row-2 .btn {
   margin-top: 32px;
   padding: 12px 32px 11px;
}

.fea-row-2 .image {
   width: 470px;
   height: 440px;
   border-radius: 20px;
   object-fit: cover;
}

/* ======== Blog ========= */
.blog {
   margin-top: 200px;
   padding-bottom: 96px;
   background-color: #f274745e;
}

.blog .title {
   padding-top: 96px;
   font-family: 'Sen';
   font-style: normal;
   font-weight: 700;
   font-size: 3.8rem;
   line-height: 1.26;
   text-align: center;
   letter-spacing: -0.02em;
   color: #130606;
}

.blog .head .desc {
   margin-top: 16px;
   margin-left: auto;
   margin-right: auto;
   width: 448px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.6rem;
   line-height: 1.75;
   text-align: center;
   color: #696262;
}

.list-blog {
   display: flex;
   gap: 30px;
}

.blog-item {
   background-color: #fff;
   border-radius: 20px;
}

.list-blog .image {
   width: 370px;
   height: 250px;
   object-fit: cover;
   border-radius: 16px 16px 0px 0px;
}

.blog-item .frame {
   padding: 20px 20px 20px 28px;
}

.blog-item .row-1 {
   display: flex;
   gap: 4px;
   align-items: center;
}

.blog-item:hover {
   box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.3);
}

.blog-item .dot {
   width: 6px;
   height: 6px;
   background: #FFB900;
   border-radius: 50%;
}

.separate {
   height: 1px;
   background: #E2DFDA;
   border-radius: 0.5px;
   margin-top: 12px;
}

.blog-item .desc {
   margin-top: 12px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 1.6rem;
   line-height: 1.75;
   color: #171100;
}

.blog-item .btn {
   margin-top: 12px;
   padding: 12px 21px;
   font-size: 1.4rem;
}

.blog .row-bottom {
   margin-top: 38px;
   gap: 6px;
   display: flex;
   justify-content: center;
}

.blog .row-bottom .dot {
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #5F5B53;
}

.blog .row-bottom .dot:nth-child(2) {
   background: #FFB900;
}

/* ======== Footer ========= */
.footer {
   background-color: #2E2100;
   padding-bottom: 28px;
}

.footer .row {
   display: flex;
   gap: 130px;
   padding-top: 96px;
}

.footer .column .desc {
   margin-top: 18px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   width: 267px;
   color: #BFBCB2;
}

.footer .column .list-icon {
   display: flex;
   margin-top: 18px;
   gap: 18px;
}

.footer .column .title {
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   color: #FFFFFF;
}

.footer .column .separate {
   margin-top: 14px;
   width: 130px;
   height: 1px;
   background: #59554B;
}

.footer .list-info {
   margin-top: 22px;
}

.footer .column a {
   padding: 6px 0;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   color: #BFBCB2;
}
.list-info strong {
   color: #fff;
   font-weight: 600;
}
.separate-last {
   margin-top: 38px;
   width: 1170px;
   height: 1px;
   background: #59554B;
}

.desc-last {
   margin-top: 28px;
   font-family: 'Poppins';
   font-style: normal;
   font-weight: 400;
   font-size: 1.4rem;
   line-height: 1.86;
   text-align: center;
   color: #807D74;
}